.card{
    margin-top: 130px;
    margin-bottom: 30px;
    margin-left: 10px;
    max-width: 500px;
    height: 500px;
}

.card-img{
    margin-top: 10px;
   margin-left: 30px;
    width: 400px;
    height: 500px;
}

.imageContainer{
    width: 400px;
    margin-top: 20px;
    margin-bottom: 10px;
}
